#pnexperiment-notification popupnotificationcontent {
  margin-top: 0;
}

#pnexperiment-notification .popup-notification-body > :not(popupnotificationcontent) {
  display: none;
}

#pnexperiment-notification-anchor {
  list-style-image: url("chrome://browser/skin/info.svg");
}

#pnexperiment-notification-anchor:not([showing]) {
  display: none;
}
